@import "reset.css";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html,
body {
	overflow: hidden;
	height: 100%;
	font-family: 'Spoqa Han Sans Neo';
	color: #232323;
}

textarea,
input {
	font-family: 'Spoqa Han Sans Neo';
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type=date] {
	height: 29px;
}

select {
	width: 100%;
	padding: 5px 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 72px;
	padding: 0 30px 0 14px;
	background: #0088c7 url(../imgs/bg_header.png);
	box-shadow: 0 5px 5px rgba(0, 0, 0, .25);
	z-index: 20;

	.lefty {
		display: flex;
		align-items: center;

		.top_menu {
			margin-left: 20px;

			a {
				margin-right: 10px;
				padding: 8px 15px;
				text-decoration: none;
				background-color: rgba(255, 255, 255, .9);
				border-radius: 8px;
				color: #333;
				transition: 0.5s all;

				&:hover {
					color: #3389c9;
					background-color: #fff;
				}
			}
		}
	}
}

header .logo {
	display: flex;
	align-items: center;
	gap: 20px;
}

.rButtons {
	display: flex;
	gap: 15px;
}

.btn-myInfo {
	width: 40px;
	height: 40px;
	background: transparent url(../imgs/ico_myInfo.png) center no-repeat;
	border: 0;
}

.btn-newChat {
	width: 166px;
	height: 41px;
	background: url(../imgs/btn_newChat.png) no-repeat center;
}

.btn-more {
	width: 20px;
	height: 20px;
	background: url(../imgs/ico_moreDot.png) no-repeat center;
}

.btn-confirm {
	min-width: 70px;
	padding: 5px 20px;
	line-height: 1;
	background-color: #003a56;
	border-radius: 20px;
	color: #fff;
	font-size: 0.75rem;
	font-weight: 700;
}

.btn-close {
	width: 11px;
	height: 11px;
	background: url(../imgs/ico_close.png) no-repeat center;
	background-size: cover;
}

.guage {
	position: relative;
	cursor: pointer;
}

.guage::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 38px;
	height: 38px;
	border: 1px solid #fff;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.guage::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #fff;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.guage #guage-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 0.6rem;
	color: #fff;
}

.guage #guage-text:after {
	content: "%";
}

.modalCloud {
	display: none;
	position: absolute;
	min-width: 100px;
	padding: 8px 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	word-break: keep-all;
	white-space: nowrap;
	line-height: 1.3;
	font-weight: 400;
	font-size: 0.875rem;

	&.show {
		display: block;
	}
}

.modalCloud::after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	width: 8px;
	height: 8px;
	background: url(../imgs/ico_cloudText_arrow.png) no-repeat center;
}

.modalCloud.btmArrow::after {
	top: auto;
	bottom: -8px;
	transform: rotate(-180deg);
}

.guage .modalCloud {
	top: 50px;
	right: 50%;
	transform: translateX(50%)
}

.guage:hover .modalCloud {
	display: block;
}

.mainContainer {
	position: relative;
	display: flex;
	height: calc(100% - 72px);

	.contents {
		position: relative;
		width: 100%;
		height: 100%;
		margin-top: 72px;
		padding-left: 320px;
	}

	aside {
		position: fixed;
		top: 72px;
		bottom: 0;
		width: 320px;
		background-color: #f0f0f0;
		z-index: 10;

		.newChat {
			padding: 20px 0;
			text-align: center;
		}

		>ul {
			height: 100%;

			li {
				position: relative;

				&.header {
					display: flex;
					justify-content: space-between;
					margin-top: -1px;
					padding: 10px 30px;
					font-size: 1rem;
					font-weight: 500;
					border: 1px solid #bcbccd;
					border-width: 1px 0;
					color: #4c4c4c;

					.btn-reload {
						margin-right: 25px;
						opacity: .5;
					}

					&:after {
						content: "";
						position: absolute;
						top: 50%;
						right: 20px;
						width: 9px;
						height: 6px;
						background: url(../imgs/ico_caret.png) no-repeat center;
						transform: translateY(-50%);
					}

					&.open {
						&::after {
							transform: translateY(-50%) rotate(-180deg);
						}
					}
				}

				&.cnt {
					height: calc(100vh - 430px);
					overflow-x: hidden;
					overflow-y: auto;
					font-size: 0.875rem;
					padding: 20px 30px;

					&.open {
						height: calc(100vh - 228px);
					}

					ul {

						&+ul {
							margin-top: 30px;
						}

						li {
							position: relative;
							margin-top: 15px;

							.link {
								display: block;
								padding-right: 20px;
								text-decoration: none;
								color: #333;
								text-overflow: ellipsis;
								white-space: nowrap;
								overflow: hidden;

								&:hover {
									color: #004db5;
								}

								&:before {
									content: "\00B7 "
								}

							}

							.btn-more {
								position: absolute;
								right: 0;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}
				}
			}
		}
	}
}

.hide {
	display: none;
}

.detailBox {
	display: none;
	position: absolute;
	top: 25px;
	right: -10px;
	width: 120px;
	min-height: 124px;
	padding: 20px 15px;
	background-color: #3389c9;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	z-index: 20;

	&.bottom {
		top: auto;
		bottom: 25px;
	}

	&.active {
		display: block;
	}

	ul {
		li {
			margin: 5px 0;

			&:first-of-type {
				margin-top: 0 !important;
			}

			a {
				display: flex;
				width: 100%;
				align-items: center;
				text-decoration: none;

				p {
					display: inline-block;
					line-height: 1.3;
					padding-right: 0 !important;
					color: #fff;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				&:hover {
					opacity: 0.6;
				}
			}

			.ico {
				display: inline-block;
				min-width: 15px;
				height: 15px;
				margin-right: 5px;
				background-repeat: no-repeat;
				background-position: center;

				&.export {
					background-image: url(../imgs/ico_export.png);
				}

				&.rename {
					background-image: url(../imgs/ico_rename.png);
				}

				&.delete {
					background-image: url(../imgs/ico_trash.png);
				}
			}
		}
	}
}

.dimmed {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .7);
	z-index: 100;

	&.active {
		display: block;
	}
}

.tokenUsage {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 550px;
	height: 450px;
	padding: 20px 45px;
	background-color: #fff;
	border-radius: 10px;
	transform: translate(-50%, -50%);
	z-index: 200;
	box-shadow: 0 0 5px rgba(0, 0, 0.1);

	&.active {
		display: block;
	}

	.btn-close {
		position: absolute;
		right: 28px;
		top: 20px;
		width: 17px;
		height: 17px;
	}

	.title {
		font-size: 1.125rem;
		font-weight: 700;
	}

	.token {
		display: flex;
		padding-bottom: 15px;
		margin-top: 10px;

		.icon {
			width: 120px;
			text-align: center;

			img {
				margin-top: 5px;
			}
		}

		.value {
			font-size: .725rem;
			color: #666;
		}

		.info {
			padding-left: 20px;

			ul {
				display: flex;
				flex-direction: column;
				gap: 10px;

				li {
					display: flex;
					align-items: center;
					min-height: 26px;
					font-size: 0.875rem;

					.tit {
						display: inline-block;
						min-width: 40%;
						color: #232323;
					}

					.value {
						display: inline-block;
						width: 60%;
						padding-left: 10px;
						color: #6c6c6c;
					}

					input {
						display: inline-block;
						width: 50%;
						margin-right: 10px;
						padding-left: 10px;
						color: #6c6c6c;
						border: 1px solid #e2e8f0;
						border-radius: 4px;
						outline: none;
					}
				}
			}
		}
	}

	.useage {
		height: 260px;
		border-top: 1px solid #a5a5a5;
		padding-top: 20px;

		.title {
			padding-left: 30px;
		}

		.graph {
			padding: 25px 15px 0;
			height: 180px;

			ul {
				display: flex;
				height: 100%;

				justify-content: space-between;

				li {
					height: 100%;

					.bar_wrap {
						overflow: hidden;
						position: relative;
						height: 100%;
						border: 2px solid #b7b7b7;
						border-radius: 8px;

						.bar {
							position: absolute;
							width: 100%;
							bottom: 0;
							background: rgb(127, 43, 180);
							background: linear-gradient(180deg, rgba(127, 43, 180, 1) 0%, rgba(71, 14, 107, 1) 100%);
						}
					}

					.days {
						margin-top: 5px;
						font-size: 0.875rem;
						color: #232323;
					}
				}

			}
		}
	}

	.footer {
		position: absolute;
		width: 100%;
		bottom: 0;
		right: 0;
		left: 0;
		padding-right: 40px;
		padding-bottom: 20px;
		text-align: right;
	}
}

.myInfo {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 550px;
	height: 450px;
	padding: 40px 45px;
	background-color: #fff;
	border-radius: 10px;
	transform: translate(-50%, -50%);
	z-index: 200;
	box-shadow: 0 0 5px rgba(0, 0, 0.1);

	&.active {
		display: block;
	}

	.btn-close {
		position: absolute;
		right: 28px;
		top: 20px;
		width: 17px;
		height: 17px;
	}

	.title {
		font-size: 1.125rem;
		font-weight: 700;
	}

	.footer {
		position: absolute;
		width: 100%;
		bottom: 0;
		right: 0;
		left: 0;
		padding-right: 40px;
		padding-bottom: 20px;
		text-align: right;
	}
}

.info {
	display: flex;
	padding-bottom: 25px;

	&.my_info {
		border-bottom: 1px solid #ccc;
	}

	&.preference {
		padding-top: 20px;
	}

	.title {
		width: 120px;
	}

	.data {
		flex: 1;
		padding-left: 20px;

		ul {
			display: flex;
			flex-direction: column;
			gap: 10px;

			li {
				display: flex;
				align-items: center;
				min-height: 26px;
				font-size: 0.875rem;

				.tit {
					display: inline-block;
					min-width: 40%;
					color: #232323;
				}

				.value {
					display: inline-block;
					width: 60%;
					padding-left: 10px;
					color: #6c6c6c;
				}

				input {
					display: inline-block;
					width: 50%;
					margin-right: 10px;
					padding-left: 10px;
					color: #6c6c6c;
					border: 1px solid #e2e8f0;
					border-radius: 4px;
					outline: none;
				}
			}
		}
	}
}


.btn-request {
	display: inline-block;
	padding: 4px 10px;
	border: 1px solid #bbb;
	border-radius: 30px;
	font-size: 0.875rem;
	letter-spacing: -0.45px;
	background-color: #fff;
	font-weight: 600;
	color: #333;
}

.btn-confirm {
	display: inline-block;
	min-width: 90px;
	padding: 7px 20px;
	border-radius: 30px;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: -0.45px;
	background-color: #3389c9;

	&.ico-save {
		padding: 7px 20px;

		&::before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 14px;
			margin-right: 4px;
			background: url(../imgs/ico_save.png) no-repeat center;
		}
	}
}

.ios7-switch {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

.ios7-switch input {
	opacity: 0;
	position: absolute;
}

.ios7-switch input+span {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	background: white;
	box-shadow: inset 0 0 0 0.0625em #ccc;
	border-radius: 25px;
	vertical-align: -0.15em;
	transition: all 0.40s cubic-bezier(.17, .67, .43, .98);
}

.ios7-switch:active input+span,
.ios7-switch input+span:active {
	box-shadow: inset 0 0 0 0.73em #e9e9e9;
}

.ios7-switch input+span:after {
	position: absolute;
	display: block;
	content: '';
	width: 25px;
	height: 25px;
	border-radius: 25px;
	top: 0;
	left: 0;
	background: white;
	box-shadow: inset 0 0 0 0.03em rgba(0, 0, 0, 0.3),
		0 0 0.05em rgba(0, 0, 0, 0.3),
		0 0.1em 0.2em rgba(0, 0, 0, 0.3);
	transition: all 0.25s ease-out;
}

.ios7-switch:active input+span:after,
.ios7-switch input+span:active:after {
	width: 1.15em;
}

.ios7-switch input:checked+span {
	box-shadow: inset 0 0 0 20px #1cc0c7;
}

.ios7-switch input:checked+span:after {
	left: 25px;
}

.ios7-switch:active input:checked+span:after,
.ios7-switch input:checked+span:active:after {
	left: 0.4375em;
}

/* accessibility styles */
.ios7-switch input:focus+span:after {
	box-shadow: inset 0 0 0 0.03em rgba(0, 0, 0, 0.15),
		0 0 0.05em rgba(0, 0, 0, 0.08),
		0 0.1em 0.2em rgba(0, 0, 0, 0.3);
	background: #fff;
}

.ios7-switch input:focus+span {
	box-shadow: inset 0 0 0 0.0625em #dadada;
}

.ios7-switch input:focus:checked+span {
	box-shadow: inset 0 0 0 20px #1cc0c7;
}

/* reset accessibility style on hover */
.ios7-switch:hover input:focus+span:after {
	box-shadow: inset 0 0 0 0.03em rgba(0, 0, 0, 0.1),
		0 0 0.05em rgba(0, 0, 0, 0.05),
		0 0.1em 0.2em rgba(0, 0, 0, 0.2);
	background: #fff;
}

.ios7-switch:hover input:focus+span {
	box-shadow: inset 0 0 0 0.0625em #e9e9e9;
}

.ios7-switch:hover input:focus:checked+span {
	box-shadow: inset 0 0 0 20px #1cc0c7;
}

.chat_input {
	padding: 5px 70px;

	.recom_question {
		display: flex;
		align-items: center;
		gap: 10px;

		.tit {
			margin-right: 10px;
			font-size: 0.875rem;
			color: #4f4f4f;
		}
	}

	.message {
		position: relative;
		margin-top: 10px;
		padding-right: 170px;
		border-radius: 12px;
		border: 2px solid #3389c9;
		background-color: #fff;

		input {
			width: 100%;
			height: 100%;
			padding: 8px 10px;
			border: 0;
			background-color: transparent;
			outline: 0;
		}

		.msg_tool {
			position: absolute;
			top: 5px;
			right: 10px;

			ul {
				display: flex;

				li {
					padding: 0 8px;
				}
			}
		}
	}

	.fliters {
		display: flex;
		gap: 10px;
		margin-top: 10px;
	}
}

.btn-attach {
	width: 26px;
	height: 26px;
	background: url(../imgs/ico_clip.png) no-repeat center;

	&:hover {
		opacity: .6;
	}
}

.btn-setting {
	width: 26px;
	height: 26px;
	background: url(../imgs/ico_setting.png) no-repeat center;
	background-size: contain;

	&:hover {
		opacity: .6;
	}

	&+.modalCloud {
		left: -160px;
		bottom: 37px;
		width: 310px;
		height: 150px;
		box-shadow: 0 0 5px rgba(0, 0, 0, .3);

		.preference {
			padding: 5px 0 0;

			.data {
				padding-left: 0;

				ul {
					gap: 6px;
				}
			}
		}

		&:after {
			top: auto;
			left: 70%;
			bottom: -8px;
			transform: rotate(-180deg);
		}
	}
}

.btn-rec {
	width: 26px;
	height: 26px;
	background: url(../imgs/ico_mic.png) no-repeat center;

	&:hover {
		opacity: .6;
	}
}

.btn-send {
	width: 26px;
	height: 26px;
	background: url(../imgs/ico_paperairplane.png) no-repeat center;

	&:hover {
		opacity: .6;
	}
}

.btn-summary {
	width: 25px;
	height: 25px;
	background: url(../imgs/ico_3dot.png) no-repeat center;
	vertical-align: middle;
}

.scrollbar {
	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #d0d0d0;
		border-radius: 20px;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}
}

.btn-reload {
	width: 22px;
	height: 18px;
	background: url(../imgs/ico_refresh.png) no-repeat center;
}

.btn-information {
	width: 20px;
	height: 20px;
	background: url(../imgs/ico_information.png) no-repeat center;
}

.filter_list {
	.flt_title {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 1rem;
		color: #5b5b5b;
		margin-top: 23px;

		&:nth-of-type(1) {
			margin-top: 0;
		}

		.btn-information {
			position: relative;

			.modalCloud {
				display: none;
				left: -95px;
				top: 30px;
				width: 200px;
				line-height: 1.5;
				word-wrap: break-word;
				white-space: normal;
				z-index: 100;
				text-align: left;
				font-size: 0.725rem;
				box-shadow: 0 0 4px rgba(0, 0, 0, .3);
			}

			&:hover {
				.modalCloud {
					display: block;
				}
			}
		}

	}

	>ul {
		margin-top: 10px;

		li {
			margin-top: 4px !important;

			input {
				margin-right: 5px;
			}

			>ul {
				display: none;

				&.open {
					display: block;
				}

				li {
					input {
						margin-right: 15px;
					}

					ul {
						li {
							input {
								margin-right: 25px;
							}
						}
					}
				}
			}
		}

		&.select {

			select,
			input[type=date] {
				margin-top: 8px;
				margin-left: 23px;
				width: 190px;
			}

		}
	}
}